/* VISTA AGREGAR POKEMON */
.container-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    width: 50%;
    margin: 3rem auto;
    min-height: calc(100vh - 60px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-add {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
}

.form-group-add {
    margin-bottom: 15px;
    margin-right: 1.2rem;
}

.form-group-add-nombre {
    margin-right: 2rem;
    width: -webkit-fill-available;
}

.form-group-doble {
    display: flex;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.pokemon-types {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-types .tipo-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 8px;
}

.pokemon-types img {
    width: auto;
    height: 1.5rem;
    border-radius: 10%;
    transition: filter 0.3s ease, transform 0.2s ease;
}

.pokemon-types .tipo-label.selected img {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.pokemon-types .tipo-label.selected {
    border-color: #f8e042;
}

.pokemon-types span {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.pokemon-types .tipo-label:hover img {
    transform: scale(1.1);
}

.container-msj{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.mensaje {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.exito {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.action-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.8;
}

/* Responsividad */
@media (max-width: 768px) {
    .container-add {
        width: 80%;
    }

    .form-add {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .container-add {
        width: 86%;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        min-height: auto;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    textarea,
    select {
        font-size: 14px;
        width: -webkit-fill-available;
    }

    button[type="submit"] {
        font-size: 14px;
    }

    .form-group-doble {
        display: contents;
    }

    .form-group-add-nombre {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .form-group-add {
        margin-right: 0;
    }

}

